@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.hero_section{
  background-color: #FDF6F0;
  height: 100vh;
}
.hero_section nav ul li a{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}
.hero_section nav ul li a:hover{
  color: white;
}
.waiter{
  height: 80px;
}
 .img{
   height: 400px;
   width: 500px;
   border-radius: 100%;
   border-left: 3px dashed #FAA12F;
 }
 
 .navbar{
   margin-bottom: 100px;
   background-color: #d68d2d;
 }
 .col h1{
   font-size: 50px;
   font-family: 'Alfa Slab One', cursive;
 }
 span{
   color: #FAA12F;
 }
 /* menu section */
 .menu_section{
   background-color: #FCFBF9;
   height: 70vh;
 }
 .offer{
   width: 200px;
   height: 150px;
 }
 .card-body{
   background-color: #F9F2EA;
   border: 0;
 }
 .card-title{
  font-family: 'Alfa Slab One', cursive;
 }
.img-fluid{
  height: 100px;
}