@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button{
  background-color: #b6792a;
  color: white;
  padding: 3px;
  margin-top: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
i{
  cursor:pointer
}
.hero_section{
  background-color: #FDF6F0;
  height: 110vh;
}

.hero_section nav ul li a{
  text-transform: uppercase;
  color: black;
  font-weight: 700;
}

.eat{
  height: 300px;
  width: 400px;
}
.waiter{
  height: 80px;
}
 .img{
   height: 400px;
   width: 500px;
   border-radius: 100%;
   border-left: 3px dashed #FAA12F;
 }
 
 .navbar{
   margin-bottom: 100px;
   background-color: #d68d2d;
 }
  h1,h2,h3,h4{
   font-size: 50px;
   font-family: 'Alfa Slab One', cursive;
 }
 span{
   color: #FAA12F;
 }
 /* menu section */
 .menu_section{
   background-color: #FCFBF9;
   height: 70vh;
 }
 .imgDiv img{
   height: 150px;
   width: 250px;
   border-radius: 10px;
   margin-left: 230px;
   margin-top: -30px;
   border-bottom-left-radius: 20px;
 }
 .imgDiv{
   background-color: #F9F2EA;
   height: 250px;
   width: 400px;
   border-radius: 10px;
   border-top: 2px dashed #d68d2d;
   border-left: 1px dashed #d68d2d;
   border-right: 1px dashed #d68d2d;
   border-bottom: 0.5px dashed #d68d2d;
   margin: 30px;
   overflow: hidden;
 }
 .contain{
   display: flex;
  width: 80%;
  margin: auto;
 }
.font{
  font-family: 'Alfa Slab One', cursive;
  margin-left: 10px;
}
.free{
  margin-left: 10px;
}
/* delivery section */
.delivery_section{
  background-color: #F9F2EA;
  height: 81.5vh;
}
.mainDiv{
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
}
.mainDiv img{
  height: 400px;
  margin-right: 20px;
}
.mainDiv .item{
  margin-left: 20px;
  background-color: #FCFBF9;
  border-radius: 5px;
  text-align: center;
}
.itemDiv{
  margin-top: 88px;
}
.personDiv{
  background-color: #FCFBF9;
  width: 700px;
  height: 250px;
  margin-left: -300px;
  margin-bottom: -150px;
  margin-right: 30px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px dashed #FAA12F
}
.personDiv img{
  margin-left: 300px;
  margin-top: -127px;
}
.item{
  display: flex;
  align-items: center;
  margin: 8px;
  padding: 5px;
}
.item h4 p{
  text-align: center;
}
.item i{
  margin-left: 20px;
  margin-right: 20px;
  color: #FAA12F;
}
/* cto section */
.cto_section{
  background-color: #141318;
  height: 35vh;
  color: white;
  text-align: center;
  padding: 20px;
}
.cto_section button{
  background-color: #d68d2d;
  color: white;
  border: 0;
  height: 40px;
  text-transform: uppercase;
  width: 140px;
  border-radius: 20px;
}
.modal-body{
  background-color: #FDF6F0;
}
.modal-header{
  background-color: #FDF6F0;
}
.modal-content{
  color: black
}

/* contact section */
.contact_section{
  background-color: #FCFBF9;
  height: 100vh;
}
.contact_section h1{
  padding-top: 50px;
}
.contact_section button{
  background-color: #d68d2d;
  color: white;
  border: 0;
  height: 40px;
  text-transform: uppercase;
  width: 150px;
  border-radius: 20px;
}
.contact_minisection{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.undraw img{
  height: 500px;
  width: 500px;
}
.input{
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px gray;
}
.input input{
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: #d68d2d;
}
textarea{
  outline: 0;
  width: 100%;
  border: 1px solid gray;
  border-radius: 5px;
}
/* footer section */
.footer_section{
  background-color: #FDF6F0;
  height: 50vh;
}
.foot{
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
}
.copy{
  text-align: center;
  margin-top: 50px;
}
.ready{
  margin-left: 20px;
  margin-bottom: 40px;
}
/* cart section */
.cartImg{
  width: 80px;
}
 i{
  margin-right: 250px;
  margin-top: 30px;
}
.cartIcon{
  margin-bottom: 80px;
  margin-left: 80%;
}
.totalItemsInCart{
  margin-top: -50px;
  margin-left: 26px;
  font-size: 25px;
  text-align: center;
  background-color: #FAA12F;
  font-weight: 700;
  border-radius: 100%;
  width: 25px;
  color: white;
}
.cartTitle{
  display: flex;
  justify-content: space-around;
}
.cartSection{
  display: flex;
}
.cartSection div:nth-child(1){
  margin-left: 100px;
}
.cartSection div:nth-child(2){
margin-left: 180px;
margin-top: 15px;
}
.cartSection div:nth-child(3){
  margin-left: 240px;
  margin-top: 15px;
}
.units{
  float: right;
  margin-top: -85px;
  display: flex;
  align-items: center;
  margin-right: 100px;
}
.units .plus{
  font-size: 30px;
  font-weight: 700;
}
.units .minus{
  font-size: 35px;
  font-weight: 700;
}


/* media querries */
@media (max-width: 860px) {
  label #btn, #remove{
    display: block;
    color:  black;
    float: right;
    font-size: 30px;
}
nav{
  background-color: #b6792a;
}
  nav ul{
    position: fixed;
    width: 100%;
    height: 40vh;
    background: #b6792a;
    top: 80px;
    left: -100%;
    transition: all .5s;
    text-align: center;
}
nav ul i{
  color: #f1f5f8;
  cursor: pointer;
}
nav ul li a{
  /* color: black; */
  text-decoration: none;
  font-family: montserrat;
}
nav ul li a:hover{
  color: white;
  width: 100%;
}
nav ul li{
    display: block;
    line-height: 20px;
    margin: 30px 0;
}
#remove{
  display: none;
}
#check:checked ~ ul{
    left: 0;
}
#check:checked ~ label #btn{
  display: none;
}
#check:checked ~ label #remove{
  display: block;
}
}